*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  width: 680px;
  height: 550px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.hero{
  height: 40px;
  width: 680px;
  display: flex;
  background-color: whitesmoke;
  color: black;
  justify-content: space-around;
}
.example-html{
  height: 22px;
  width: 580px;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 6px;
  background-color: white;
  text-align: left;
}
.circles{
  color: black;
  gap: 6px;
  display: flex;
  flex-direction: row;
}
.a, .b, .c{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 10px;
  background-color: white;
}
a{
  text-decoration: none;
  color: whitesmoke
}
ul{
  display: flex;
  list-style-type:none;
  gap: 16px;
}
.header{
  height: 42px;
  width: 680px;
  background-color:  #20639b;
  display: flex;
  justify-content: space-around;
  align-content: center;
  color: whitesmoke;
}
.date{
  text-align: center;
  height: 40px;
  width: 120px;
  align-content: center;
  margin-top: 4px;
}
.section-1{
  height: 230px;
  width: 680px;
  background-color: skyblue;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.section-2{
  height: 230px;
  width: 680px;
  background-color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: none;
}
.part-1{
  width: 680px;
  height: 115px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}
.part-2{
  width:680px;
  height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4px;

}
.footer{
  height: 95px;
  width: 680px;
  display: flex;
  flex-direction: row;
}
.left-footer{
  height: 95px;
  width: 150px;
  background-color: #20639b;
  border-right: 2px solid white;
}
.mid-footer{
  height: 95px;
  width: 380px;
  background-color: skyblue;
  border-right: 2px white;
  border-left: 2px white;
}
.right-footer{
  height: 95px;
  width: 150px;
  background-color: #20639b;
  border-left: 2px solid white;
}